.tarif-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.speed {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.price {
  font-size: 1rem;
  font-weight: bold;
}

.desktop-tablet-content {
  display: none;
}

/* Tablet styles */
@media (min-width: 768px) {
  .desktop-content,
  .desktop-flex-content,
  .mobile-content {
    display: none;
  }

  .desktop-tablet-content {
    display: flex;
  }

  .tarif-header {
    font-size: 18px;
    font-weight: bold;
  }

  .price-action {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .desktop-tablet-content {
    display: flex;
  }

  .desktop-content {
    display: block;
  }

  .mobile-content,
  .tablet-content {
    display: none;
  }

  .tarif-header {
    font-size: 18px;
    font-weight: bold;
  }

  .benefit-item {
    height: 30px !important;

    .benefit-icon {
      color: green;
    }
  }

  .price-action {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .price {
    font-size: 1.4rem;
  }
}
