.tariff-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0.5rem;
  width: 100%;
}

.speed {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .speed-item {
    display: flex;
    font-size: 16px;
  }

  .speed-icon {
    font-size: 20px;
  }
}

.benefit-item {
  height: 30px !important;

  .benefit-icon {
    color: green;
  }
}

.price-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.price {
  font-size: 1rem;
  font-weight: bold;
}

/* Tablet styles */
@media (min-width: 600px) {
  .tariff-header {
    font-weight: bold;
  }
}

/* Desktop styles */
@media (min-width: 960px) {
  .tariff-header {
    font-size: 18px;
    font-weight: bold;
  }

  .price-action {
    align-self: center;
  }

  .price {
    font-size: 1.4rem;
  }
}
