<!-- Mobile content -->
@if (isMobileView()) {
<div class="tariff-content mobile-content">
  <div class="tariff-header">
    {{ tariff().tariffName }}
  </div>

  <div class="speed">
    <div class="speed-item">
      <mat-icon class="speed-icon">arrow_downward</mat-icon>
      <span class="download-speed">{{ tariff().download | mbitUnit }}</span>
    </div>
    <div class="speed-item">
      <mat-icon class="speed-icon">arrow_upward</mat-icon>
      <span class="upload-speed">{{ tariff().upload | mbitUnit }}</span>
    </div>
  </div>

  <div class="price">{{ tariff().price | currency : "EUR" }}</div>

  <button mat-icon-button class="tariff-btn" color="primary">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
}

<!-- Desktop & Tablet content -->
@if(isTabletView() || isDesktopView()) {
<div class="tariff-content desktop-tablet-content">
  <div class="tariff-header">
    {{ tariff().tariffName }}
  </div>

  <div class="speed">
    @if (isDesktopView()) {
    <div class="download-label">Download</div>
    }
    <mat-chip class="speed-chip">
      <mat-icon matChipAvatar>arrow_downward</mat-icon>
      {{ tariff().download | mbitUnit }}
    </mat-chip>

    @if (isDesktopView()) {
    <div class="upload-label">Upload</div>
    }
    <mat-chip class="speed-chip">
      <mat-icon matChipAvatar>arrow_upward</mat-icon>
      {{ tariff().upload | mbitUnit }}
    </mat-chip>
  </div>

  @if (isDesktopView()) {
  <mat-list>
    @for (benefit of tariff().benefits; track benefit) {
    <mat-list-item class="benefit-item">
      <mat-icon matListItemIcon class="benefit-icon">check</mat-icon>
      <div matListItem>{{ benefit }}</div>
    </mat-list-item>
    }
  </mat-list>
  }

  <div class="price-action">
    <div class="price desktop-label">
      {{ tariff().price | currency : "EUR" }}
    </div>
    <button mat-raised-button color="primary" (click)="goToTariffDetails()">
      To Tariff <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
}
